<div class="container">
  <h1>Tasks</h1>
  <div class="list-group">
    <% @tasks.reverse.each do |task| %>
      <h4 class="list-group-item-heading"><%= task.title %></h4>
        <p class="list-group-item-text"><%= task.description.chars.take(16).join
        %>...</p>
      <a href="/tasks/<%= task.id %>" class="btn btn-lg btn-primary">Show</a>
      <a href="/tasks/<%= task.id %>/edit" class="btn btn-lg btn-default">Edit</a>
    <% end %>
  </div>
</div>
