<!DOCTYPE html>
<html lang ='en'>
  <head>
    <title>Task Manager</title>
    <link href='/css/bootstrap.css' rel='stylesheet'>
    <link href='/css/main.css' rel='stylesheet'>
  </head>
  <body>
    <div class='col-md-12 navbar navbar-default navbar-static-top'>
      <a href='/' class='navbar-brand'>Task Manager</a>
      <ul class='nav navbar-nav navbar-right'>
        <li><a href = "/">Dashboard</a></li>
        <li><a href = "/tasks">Tasks</a></li>
        <li><a href = "/tasks/new">New Task</a></li>
      </ul>
    </div>
    <div class="container">
      <%= yield %>
    </div>

      <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src='js/bootstrap.js'></script>
  </body>
</html>
