<div class="container">
  <h1>New Task</h1>
  <div class="col-md-10 col-md-offset-1 form-group has-feedback has-success">
    <form action="/tasks" method="post">
      <label for="taskTitle">Enter a new task</label>
      <input type="text" class="form-control" id="taskTitle" name="task[title]"/></input><br/>
      <label for="taskDescription">Description</label>
      <textarea class="form-control" id="taskDescripiton" name="task[description]"></textarea><br/>
      <input type="submit" value="Submit" id="submitButton" class="btn btn-lg btn-primary"/></input>
    </form>
  </div>
</div>
